@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
}

html,
body {
    --border-radius: 8px;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-size: 1.6rem;
    line-height: 1;
}

#layer0 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.container {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 0;
    left: 0;
    /* Fallback for browsers that do not support Custom Properties */
    /* height: calc(var(--vh, 1vh) * 100); */
    margin-left: 10%;
    margin-right: 10%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-sizing: border-box;
    /* border: solid yellow 2px; */


}

.container:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.title-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 100%;
    width: 100%;
    pointer-events: none;

}

h1 {
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    letter-spacing: 0.3rem;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 1);
    line-height: 2;
}

h1::after {
    content: "";
    line-height: 2;
}

.title-text-top {
    position: absolute;
    top: -10%;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* border: dashed green 2px; */
    box-sizing: border-box;

}

.title-content {
    text-align: left;
}

p {
    color: white;
    letter-spacing: 0.1rem;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 1);

    /* border: 2px white dashed; */
    line-height: 1.5;

    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.div-statusbar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
}

.div-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    height: 70px;
    bottom: 0;
    box-sizing: border-box;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2%;
    /* border: purple 2px solid; */
}

.menu-btn {
    width: 60px;
    height: 60px;
    text-align: center;
    background-color: saddlebrown;
    border: 3px solid sandybrown;
    border-radius: var(--border-radius);
    font-size: 0.4rem;
    box-sizing: border-box;
    padding: 1px;
    padding-top: 8px;
    padding-bottom: 2px;

}

.menu-btn-outside {
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: var(--border-radius);
}

i {
    padding-bottom: 8px;
    font-size: 0.8rem;
}

.menu-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}